%h1 My Wikis
%br
- @wikis.each do |wiki|
  %h1= link_to wiki.title, wiki
  %p
    = markdown(wiki.body)
  %h5 
    Published
    = time_ago_in_words wiki.published_at
    ago
  %if wiki != @wikis.last %br
