/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
  
body {
  background-color: #2e1d00;
  color:white;
}

ul {
  list-style: none;
  font-size: 115%;
}

a {
  color: #b7ffff;
}

.nav a:hover {
  color: #2e1d00;  
}

a:hover {
  font-weight: bold;
  border: none;
  color: #b7ffff;
  text-decoration: none;
  background-color: #2e1d00;
}

.btn-primary {
  background-color: #feffb8;
  color: black;
}

.btn-primary:hover {
  background-color: #b7ffb8 ;
}

.notices {
  background-color: #b7ffb8;
  color: black;
  font-size: 125%;
  margin: 5px 5px 5px 25px;
}

.pull-right {
  margin-top: 10px;
}

.pull-right a:hover {
  color: #b7ffff;
}

form {
  color: white;
}

input, textarea {
  color: black;
}