/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
  
body {
  background-color: #29203f;
  color: #f9eed8;
}

.nav a {
  font-size: 125%;
}

a {
  color: #fbc437;
}

a:hover {
  font-weight: bold;
  color: #fbc437;
  text-decoration: none;
}

.btn-primary {
  background-color: #e48e7d;
}

.btn-primary:hover {
  background-color: #964656;
}

.notices {
  background-color: #f9eed8;
  color: #070a12;
  font-size: 125%;
  margin: 5px 5px 5px 25px;
}

.pull-right {
  margin-top: 10px;
}

form {
  color: #ecb681;
}

input, textarea {
  color: #070a12;
}