/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
  
body {
  background-color: #332850;
  color: #f7e9cf;
}

ul {
  list-style: none;
  font-size: 115%;
}

a {
  color: #f5dd78;
}

.nav a:hover {
  color: #332850;  
}

a:hover {
  font-weight: bold;
  border: none;
  color: #f5dd78;
  text-decoration: none;
  background-color: #2e1d00;
}

.btn-primary {
  background-color: #ce7f84;
  color: white;
}

.btn-primary:hover {
  background-color: #db7957;
  color: white;
}

.glyphicon:hover {
  color: white;
}

.glyphicon a:hover {
  color: white;
}

.notices {
  background-color: #db7957;
  color: white;
  font-size: 125%;
  margin: 5px 5px 5px 25px;
}

.pull-right {
  margin-top: 10px;
}

.pull-right a:hover {
  color: #f5dd78;
}

form {
  color: #f7e9cf;
}

input, textarea {
  color: black;
}