
.btn-success {
  background-color: #56E39F;
  color: #7202AE;
}

.btn-success:hover {
  background-color: #8E8DBE;
  color: #7202AE;
}

.center {
  text-align: center;
}

h1.Blocipedia {
  text-align: center;
  font-weight: 900;
  font-weight: bold;
  font-size: 500%;
  font-family: "Baskerville Old Face", serif;
}

.huge {
  font-family: "Baskerville Old Face", serif;
  font-size: 150%;
}

