
.btn-success {
  background-color: #ECE2D0;
  color: #c60c69;
}

.btn-success:hover {
  background-color: #97ABB1;
  color: #c60c69;
}

.col-md-6 {
  text-align: center;
}

.Blocipedia {
  text-align: center;
  font-weight: 900;
  font-weight: bold;
  font-size: 500%;
  font-family: "Baskerville Old Face", serif;
}

