
.btn-success {
  background-color: #feffb8;
  color: black;
}

.btn-success:hover {
  background-color: #b7ffb8;
}

.col-md-6 {
  text-align: center;
}

.Blocipedia {
  text-align: center;
  font-weight: 900;
  font-weight: bold;
  font-size: 500%;
  font-family: "Baskerville Old Face", serif;
}

